:root {
	--text-primary: #000000;                       /* black */
	--text-secondary: #6b7280;                     /* gray-500 */

	--background-primary: #f3f4f6;                 /* gray-100 */
	--background-secondary: #ffffff;               /* white */

	--card-border: #d1d5db;                        /* gray-300 */

	--focusring-color: #2563eb;                    /* blue-600 */

	--button-disabled-color: #9ca3af;              /* gray-400 */

	--button-default-text: #1f2937;                /* gray-800 */
	--button-default-background: #ffffff;          /* white */
	--button-default-border: #d1d5db;              /* gray-300 */
	--button-default-hover-background: #f9fafb;    /* gray-50 */
	--button-default-disabled-background: #f3f4f6; /* gray-100 */
	--button-default-disabled-border: #e5e7eb;     /* gray-200 */

	--button-primary-text: #ffffff;                /* white */
	--button-primary-background: #2563eb;          /* blue-600 */
	--button-primary-hover-background: #1d4ed8;    /* blue-700 */

	--button-ghost-text: #1f2937;                  /* gray-800 */
	--button-ghost-hover-background: #e5e7eb;      /* gray-200 */

	--shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
	-webkit-tap-highlight-color: transparent;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.5;
	text-size-adjust: 100%;
	tab-size: 4;
	overflow-wrap: break-word;

	color: var(--text-primary);
	background-color: var(--background-primary);

	height: 100vh;
	margin: 0;
}

.container {
	height: 100%;
}
.container > * {
	display: none;
}

@media (max-width: 767px) {
	.container.view-listing x-listing-view {
		display: block;
	}

	.container.view-post x-post-view {
		display: block;
	}
}

@media (min-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: 360px minmax(0, 1fr);
	}

	.container.view-listing :is(x-listing-view, x-empty-view) {
		display: block;
	}

	.container.view-post :is(x-listing-view, x-post-view) {
		display: block;
	}

	x-empty-view, x-post-view {
		border-left: 1px solid var(--card-border);
	}
}
