.x-header {
	background-color: var(--background-secondary);
	display: flex;
	align-items: center;
	flex-shrink: 0;
	height: 48px;
	gap: 4px;
	padding: 0 8px;
	border-bottom: 1px solid var(--card-border);
}

.x-spacer {
	flex: 1 1;
}

/** Interactions */
.x-interactable {
	cursor: pointer;
}

.x-focusable {
	outline-color: var(--focusring-color);
	outline-width: -1px;
}

.x-focusable:focus-visible {
	outline-style: solid;
	z-index: 1;
}

/** Control groups */
.x-control {
	border-radius: 4px;
}

:host(.x-group-start) .x-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

:host(.x-group-middle) .x-control {
	border-radius: 0;
	margin-left: -1px;
}

:host(.x-group-end) .x-control {
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: -1px;
}

/** Flex spacer */
.x-spacer {
	flex: 1 1;
}

/** Reset styling */
:where(*, *::before, *::after) {
	box-sizing: border-box;
	background-repeat: no-repeat;
	border: 0 solid;
}

:where(*::before, *::after) {
	text-decoration: inherit;
	vertical-align: inherit;
}


:where(h1, h2, h3, h4, h5, h6, p, pre) {
	margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, span, small, pre, code, kbd, samp) {
	font-size: inherit;
}

:where(pre, code, kbd, samp) {
	font-family: monospace;
}

:where(pre) {
	overflow: auto;
}

:where(hr) {
	color: inherit;
	height: 0;
}

:where(dl, ol, ul) {
  margin: 0;
	padding: 0;
}

:where(li) {
	display: block;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
	border-style: none;
}

:where(svg:not([fill])) {
	fill: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
  text-indent: 0;
}

:where(button, input, select, textarea) {
	font: inherit;
	margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

:where(fieldset) {
  border: 0;
	margin: 0;
	padding: 0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  resize: vertical;
}

:where(*::placeholder) {
	color: inherit;
	opacity: 0.5;
}

:where(*::-webkit-inner-spin-button, *::-webkit-outer-spin-button) {
  height: auto;
}

:where(*::-webkit-search-decoration) {
  -webkit-appearance: none;
}

:where(*::-webkit-file-upload-button) {
  -webkit-appearance: button;
}
